<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoomCast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E87B7B1DE54E2A00F2EEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E87B941DE54E2A00F2EEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E87B9F1DE54E2A00F2EEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
